* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

/*header*/
/* Top Bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebe7e7f3;
  padding: 5px 30px;
}
.top-left img {
  width: 24px;
}
.top-links {
  text-align: right;
}
.top-links .help {
  position: relative;
  display: inline-block;
  margin: 0 7px;
}

.top-links a {
  color: black;
  font-size: 13px;
  font-weight: 700;
  font-family: lato;
  text-decoration: none;
  margin: 0 7px;
}
.top-links a:hover {
  color: #999999;
}
.top-links span {
  color: #000;
}

.help-content {
  display: none;
  position: absolute;
  text-align: left;
  padding: 10px 15px;
  right: 0;
  top: 30px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  z-index: 999;
}

.help-content h4 {
  margin: 10px 0;
}

.help-content a {
  display: block;
  margin-bottom: 10px;
  color: #7c7979;
  text-decoration: none;
}

.help-content a:hover {
  color: #000;
}

.help:hover .help-content {
  display: block;
}

.main-navbar {
  background-color: #ffff;
  padding: 5px 30px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.nav-left {
  flex: 1;
}
.logo {
  width: 70px;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-menu li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 8px 0;
  font-size: 15px;
  font-weight: 700;
  font-family: lato;
  transition: color 0.3s ease;
}
.nav-menu li a::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease;
}
.nav-menu li a:hover::after {
  width: 100%;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 18px;
  flex: 1;
  justify-content: flex-end;
}
.search-box {
  display: flex;
  width: 141px;
  height: 32px;
  background-color: #ebe7e7f3;
  align-items: center;
  border-radius: 17px;
  overflow: hidden;
}

.search-icon {
  width: 30px;
  height: 32px;
  padding: 0px 2px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebe7e7f3;
  border-radius: 50%;
}

input {
  border: none;
  outline: none;
  background-color: #ebe7e7f3;
  padding: 0 40px;
  height: 100%;
}
.search-icon:hover {
  background-color: #b1ababf3;
}

input:hover {
  background-color: #bbb5b5f3;
  cursor: text;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.icons a {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.icons a:hover {
  background-color: #ccc7c7;
  border-radius: 50%;
}

.icons img {
  width: 23px;
  height: 23px;
  object-fit: contain;
  pointer-events: none;
}

.bottom-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 17px 30px;
  background-color: #ebe7e7f3;
}
.bottom-bar span {
  font-weight: 300;
}
.bottom-bar a {
  font-family: lato;
  font-weight: 800;
  font-size: 12px;
  margin-top: 10px;
  color: #000;
}

.menu-item-content {
  position: absolute;
  top: 95px;
  left: 0;
  width: 100%;
  z-index: 100;
}

.dropdown {
  display: none;
  background: #fff;
  animation: fadeIn 0.3s ease;
}
.dropdown.active {
  display: block;
}
.dropdown-content {
  padding: 10px 60px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}
.dropdown-item {
  padding: 10px 0px;
  display: block;
}
.dropdown-item h4 {
  padding: 10px 0px;
}
.dropdown-item a {
  display: block;
  text-decoration: none;
  color: #7c7979;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 0;
  font-family: lato;
}
.dropdown-item a:hover {
  color: #000;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*main*/
.main {
  justify-content: center;
  padding: 2rem;
}
.promo-section {
  text-align: center;
  background-color: #fff;
}
.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.image-container img {
  width: 750px;
  height: auto;
  border-radius: 0px;
}
.image-container .promo-3 {
  width: 100%;
  height: auto;
}
.headline {
  font-size: 52px;
  font-weight: 800;
  margin-top: 20px;
  letter-spacing: 1px;
}
.promo-section p {
  font-weight: 600;
  font-family: lato;
}
.promo-buttons {
  margin-top: 30px;
}
.promo-buttons .shop-now {
  background-color: #000;
  color: white;
  font-weight: 700;
  font-size: 15px;
  font-family: lato;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}
.promo-buttons button:hover {
  background-color: #c2bdbd;
}
.promo {
  text-align: left;
  padding: 20px 30px;
  margin: 20px 0px;
}

.promo .shop-by {
  margin-bottom: 1rem;
}

.promo p {
  padding-bottom: 10px;
}
.promo-content {
  text-align: center;
}

.jordan-section {
  text-align: center;
  background-color: #fff;
}

.subheading {
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

.main-title {
  font-size: 60px;
  font-weight: 900;
  color: #000;
  margin: 0;
}

.description {
  font-size: 16px;
  color: #333;
  margin: 20px auto;
  max-width: 600px;
}

.shop-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.shop-button:hover {
  background-color: #333;
}

.hero {
  width: 100%;
  margin-bottom: 4rem;
}

.hero .hero-title {
  font-family: lato;
  font-size: 23px;
  padding: 15px 30px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 10px;
  padding: 5px 25px;
}

.card {
  position: relative;
  justify-content: center;
  width: 485px;
  height: 550px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  position: absolute;
  bottom: 5%;
  left: 5%;
  padding: 15px;
  text-align: left;
}
.card-content span {
  font-size: 17px;
  font-weight: 700;
  font-family: lato;
  color: #fff;
}

.card-content h3 {
  font-family: lato;
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.card-content button {
  background-color: #fff;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 15px;
  font-family: lato;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.card-content button:hover {
  background-color: #c2bdbd;
}

/* gifts for mom css start */
.container-shopByIcons,
.container-giftsForMom {
  background-color: #fff;
  padding: 20px;
  width: 100%;
  margin-bottom: 4rem;
}

.header-shopByIcons,
.header-giftsForMom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.shop-by {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.controls {
  display: flex;
  align-items: center;
}

.controls button {
  background: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-weight: 500;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;
  font-size: 17px;
  color: #555;
}

.slider-wrapper {
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex: 0 0 auto;
  width: 450px; /* lebar slide */
  margin-right: 15px;
  text-align: center;
}

.slide:last-child {
  margin-right: 0;
}

.slide img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

.slide-title {
  margin-top: 10px;
  font-weight: bold;
  color: #222;
}

.indicator-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.indicator {
  background-color: #ddd;
  height: 5px;
  border-radius: 3px;
  width: 100%;
  max-width: 200px; /* Sesuaikan lebar indikator */
}

/* Slider Gifts For Mom */

.shop {
  font-weight: bold;
}

.sliderGiftsForMom {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slideGiftsForMom {
  flex: 0 0 auto;
  width: 450px; /* Sesuaikan lebar slide */
  margin-right: 15px;
}

.description-product {
  color: gray;
  font-weight: normal;
  margin-top: 3px;
  margin-bottom: 10px;
}

.slideGiftsForMom:last-child {
  margin-right: 0;
}

.slideGiftsForMom img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

.slide-description {
  margin-top: 10px;
  font-weight: bold;
  color: #222;
}

.indicatorGiftsForMom {
  background-color: #ddd;
  height: 5px;
  border-radius: 3px;
  width: 100%;
  max-width: 200px; /* Sesuaikan lebar indikator */
}
/* Gifts For mom css end */

/* Shop By Sports CSS  Starts*/
.container-shopBySports {
  background-color: #fff;
  padding: 20px;
  width: 100%;
}

.header-shopBySports {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.slidershopBySports {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slideshopBySports {
  position: relative;
  flex: 0 0 auto;
  width: 450px; /* Sesuaikan lebar slide */
  margin-right: 15px;
}

.slideshopBySports:last-child {
  margin-right: 0;
}

.slideshopBySports img {
  max-width: 100%;
  height: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  object-fit: cover;
}

.slide-content {
  position: absolute;
  bottom: 15%;
  left: 8%;
  margin-top: 10px;
  font-weight: bold;
  color: #222;
}

.slide-content a {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: white;
  text-decoration: none;
  color: black;
}
/* Shop by sports end css */

/*footer*/
footer {
  margin: 1rem 3rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
  border-top: 0.5px solid rgb(187, 187, 187);
}

.footerMainContent {
  margin-bottom: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footerLeftSide {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.footerLeftSide .resource,
.footerLeftSide .help,
.footerLeftSide .company {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.resource h1,
.help h1,
.company h1 {
  font-size: 15px;
}

.resource ul,
.help ul,
.company ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  list-style: none;
}

ul li a {
  color: gray;
  text-decoration: none;
  font-size: 15px;
}

.footerRightSide {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.location {
  color: gray;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.location p {
  font-weight: bold;
  font-size: 14px;
}

.location img {
  fill: gray;
  width: 13px;
}

.footerBottomSide {
  display: flex;
  gap: 2rem;
  color: gray;
  font-size: 15px;
}

.footerBottomSide p:nth-child(1n + 2):hover {
  color: black;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
